<nav class="navbar navbar-expand-sm navbar-dark bg-dark" role="banner">
  {{#link-to "index" class="navbar-brand"}}CFI 2 Coder Dojo{{/link-to}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" role="navigation" id="navbarContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        {{#link-to "parents" class="nav-link"}}For Parents{{/link-to}}
      </li>
    </ul>
  </div>
</nav>
<section class="site-content">
  {{outlet}}
</section>
