<header class="navbar navbar-inverse" role="banner">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}CFI 2 Coder Dojo{{/link-to}}
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          {{#link-to "parents"}}For Parents{{/link-to}}
        </li>
      </ul>
    </nav>
  </div>
</header>
<section class="site-content">
  {{outlet}}
</section>
