<article>
  <h1>Dear Parents</h1>
  <section>
    <p>
      Coder Dojo is a international movement of computer programming clubs for kids / by kids. You can read
      all about it <a href="https://coderdojo.com/movement/">here</a>. Your student's dojo meets after school on
      Thursdays, but there are other ones that meet through out the city all the time. Feel free to check some
      of those out as well. There is also a state wide hackathon hosted by Coder Dojo Indiana, the statewide
      organization that lives inside of Techpoint Foundation for youth.
    </p>
    <p>
      Your student will start programming in a visual programmming environment called Scratch which is created and
      maintained by MIT. We will provide them with a scratch login and some getting started material via Google's
      CS First program. Scratch is just the tip of the iceberg. Since the students are mostly under the age of 13,
      we need your help establishing an accoutn for them on a website called <strong>Github</strong>.  <strong>Github</strong> is free for our use
      and it has become the defacto open source code storage for the entire internet. A <strong>Github</strong> account will allow your
      student to access a more robust environment called <strong>codeanwhere.com</strong> and another service that we'll use called
      <strong>glitch.com</strong>. It will also give your student a durable place to save their work and share their projects. Please see below
      for a more detailed explanation of each service / tool.
    </p>
  </section>
  <section>
    <ul>
      <li>
        <a href="https://scratch.mit.edu"><strong>Scratch</strong></a> - Scratch is a visual programming language,
        that represents code as a series of interconnected blocks. It enables easily creating games, interactive animations.
        Users can share their creations, view the source of other peoples creations and "remix" them to make them their own.
      </li>
      <li>
        <a href="https://github.com"><strong>Github</strong></a> - Git is a distributed version control system, which is a fancy
        way of saying it allows multiple people to work on a set of documents (code) and make sure that they don't accidentally
        delete or overwrite changes that other people have made. Github is a commercial host that acts as one of the distributed
        nodes in your Git. It also provides tools for sharing and reviewing code, wikis, hosted pages and loads more. Github provides
        an authentication mechanism that allows other sites to use Github as their authentication method (think login with Facebook or
        login with Google).
      </li>
      <li>
        <a href="https://glitch.com"><strong>Glitch</strong></a> - Glitch is similar to Scratch, but the language used to build
        applications is Javascript. It has similar features to Scratch where you can publish and share your work with other Glitch users,
        you can view the source code for other peoples' creations and it even uses the same language of remixing for copying and making
        someone else's project your own.
      </li>
      <li>
        <a href="https://codeanywhere.com"><strong>Code Anywhere</strong></a> - This one is serious. It gives students, for free, access
        to a full blown linux computer with administrator privileges for two hours a day. They can install whatever software they need,
        allowing them to create real applications that can be deployed into the world. It is full blown, professional developement
        environment. It will allow students to learn about more advanced topics like databases, different web programming languages, and
        the tools that professional developers use to create applications.
      </li>
    </ul>
  </section>
  <section>
    We may use other tools besides those listed here, but having a Github account will enable your student to more
    easily explore their interests as they develop.
  </section>
  <h3>Thanks, CFI 2 Coder Dojo Volunteers</h3>
</article>
{{outlet}}